@import '/packages/boilerplate/all.import.less';

.reset();

.app {
	padding-bottom: 60px;
}

.container {
	//max-width: 70%;
	margin: 0 auto;
}

h3 {
	font-weight: 300;
	font-size: 150%;
	line-height: 150%;
}