@import '../const.import.less';

.latency {

	position: relative;

	@barcolor: fade(@orange, 20%);
	@errcolor: @meteor;

	.gradient(fade(@white, 60%), fade(@white, 100%));

	.axis {
		font-size: 60%;

		text {
			fill: @gray;
		}

		path {
			fill: none;
			stroke: @lightgray;
		}

		line {
			stroke: @lightgray;
		}
	}

	.series {
		.bar {
			rect {
				fill: @barcolor
			}
			text {
				fill: fade(@barcolor, 100%);
				font-size: 60%;
				opacity: 0;
				.pointer-events(none);
				.transition(all 350ms ease-in-out);
			}

			.no-touch &:hover {
				text {
					opacity: 1;
				}
			}
		}
	}

	.grid {
		opacity: 0.8;
		line {
			stroke: @lightgray;
			stroke-width: 0.8;
			stroke-dasharray: 2, 2;
		}
	}

	.errors {
		text {
			font-size: 60%;
			fill: @errcolor;
			font-weight: 500;
		}

		circle {
			fill: fade(@white, 80%);
			stroke: @errcolor;
			stroke-width: 0.8;

		}
	}

	.title {
		margin: 0 35px;
		font-size: 80%;
		text-transform: uppercase;
		color: @gray;
		border-bottom: 1px solid mix(@lightgray, @light, 50%);
	}

	.legend {
		font-size: 60%;
		text-transform: uppercase;
		display: inline-block;
		position: absolute;
		bottom: 31px;
		left: 0;
		color: @gray;
		padding: 5px;
		margin: 5px 30px;

		@s: 10px;

		>div {
			display: inline-block;
			margin: 0 2px;

			>* {
				vertical-align: middle;
			}

			span {
				display: inline-block;
				width: @s;
				height: @s;
				margin-right: 2px;
			}
		}

		.peak {
			span {
				background-color: @barcolor; 
			}
		}

		.median {
			span {
				background-color: fade(@barcolor, 100% * 2 * alpha(@barcolor));
			}
		}

		.errors {
			span {
				.border-radius(@s);
				border: 1px solid @errcolor;
			}
		}

		.axis.errors {
			text {
				display: none;
			}
		}
	}
}