@import '../const.import.less';

.world {
	.user-select(none);
	position: relative;

	.legend {
		position: absolute;
		bottom: 18%;
		left: 0;
		margin: 0px 35px;
		padding: 5px 10px;
		font-size: 80%;
		background-color: fade(@white, 90%);
		border: 1px solid @lightgray;
		.transition(all 350ms ease-in-out);
		.transform(translate3d(-10px, 0, 0));
		.pointer-events(none);
		opacity: 0;
		z-index: 101;

		table {
			margin: 5px 0;
		}

		.explain {
			max-width: 160px;
			margin-bottom: 5px;
		}

		.center {
			text-align: center;
		}

		a.close {
			display: inline-block;
			padding: 5px 10px;
			text-transform: uppercase;
			color: @gray;
			border: 1px solid @lightgray;
			margin: 5px;
			cursor: pointer;

			&:active {
				background-color: @dark;
				color: @white;
				border-color: @dark;
			}

			&:before {
				margin-right: 5px;
			}
		}

		td, th {
			text-align: left;
			>* {
				vertical-align: middle;
			}
		}

		th {
			font-weight: 500;
			vertical-align: bottom;
		}

		th[colspan="2"] {
			padding-top: 5px;
		}

		td {
			vertical-align: middle;
			padding: 0 2px;
		}

		@s: 12px;

		.scales {
			td span {
				display: inline-block;
				width: @s;
				background-color: @orange;
				height: 4px;
			}
		}

		.datacenters {
			td span {
				display: inline-block;
				width: @s;
				height: @s;
				.border-radius(@s);
				border: 1px solid @meteor;
			}

			.deployed {
				span {
					background-color: @meteor;
				}
			}
		}
	}

	svg {
		margin: 0 auto;
		display: block;

		margin-top: -70px;
		margin-bottom: -70px;
		
		.country {
			fill: @light;
			stroke: @gray;
			stroke-width: 0.5;
		}

		.datacenter {
			stroke: @meteor;
			fill: none;

			&.occupied {
				fill: @meteor;
			}
		}

		.city {
			fill: @blue;
			stroke: @blue;
		}

		.traffic {
			fill: none;
			stroke: @orange;
			
			.no-touch &:hover {
				opacity: 0.9;
			}
		}
	}

	.warning {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 90px;
		text-align: center;
		font-size: 60%;
		color: @darkgray;
		text-transform: uppercase;
		opacity: 0;
		.transition(all 650ms ease-in-out);
		.transform(translate3d(0, 10px, 0));
	}

	.button.help {
		left: 50%;
		position: absolute;
		bottom: 110px;
		margin-left: -24px;
		color: @gray;
		background-color: fade(@white, 50%);

		&:active {
			color: @white;
			background-color: @dark;
		}
		
		.transform(translate3d(0, 10px, 0));
	}

	&.show-warnings {
		.warning {
			opacity: 1;
			.transform(translate3d(0,0,0));
		}

		.button.help {
			opacity: 1;
			.transform(translate3d(0,0,0));
		}
	}

	&.show-legend {
		.legend {
			opacity: 1;
			.pointer-events(all);
			.transform(translate3d(0,0,0));
		}

		.button.help,
		.warning {
			opacity: 0;
			.transform(translate3d(0,10px,0));
			.pointer-events(none);
		}
	}
}