@import '../const.import.less';

.world {
	svg {
		margin: 0 auto;
		display: block;

		.country {
			fill: @light;
			stroke: @gray;
			stroke-width: 0.5;
		}

		.datacenter {
			fill: @meteor;
		}

		.city {
			fill: @blue;
		}
	}
}